/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 24 oct 2022, 18:22:39
    Author     : previotto
*/

.root{
    -fx-background-color: white; 
    -fx-border-color: #C02A00;
    -fx-background-radius: 10px 10px 10px 10px;
     -fx-border-radius: 10px 10px 10px 10px;
     
}



.botonEntrar{
     
    -fx-background-color: #FF6638;
    -fx-background-radius: 5px 5px 5px 5px;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-background-insets: 1,2,3;
    -fx-border-color: #C02A00;
    -fx-effect: dropshadow(gaussian, black, 10, 0, 0, 2);
}

.botonEntrar:hover{ 
     -fx-effect: innershadow(one-pass-box, #C02A00, 30, 0, 0, 5);
}

.botonRegistrarse{
    -fx-background-color: #C02A00;
    -fx-background-radius: 5px 5px 5px 5px;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-background-insets: 0,1,2;
    -fx-effect: dropshadow(gaussian, black, 10, 0, 0, 2);
}

.botonRegistrarse:hover{
    -fx-background-color: #C02A00;
    
    -fx-effect: innershadow(one-pass-box, darkred, 30, 0, 0, 5);
}



.contenedorImgLogin{
    
    -fx-background-radius: 10px 10px 10px 10px;
    -fx-border-radius: 95 95 95 95;
    -fx-border-color: #C02A00;
}

.cajas{
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff #ffffff #C02A00 #ffffff;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-style: solid;
}





