/*
 * Empty Stylesheet file.
 */

.root{
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #C02A00;
    
}

.menuEleccion{
    -fx-border-color: #C02A00;
    
    -fx-background-color: #ffffff;
    
}

.apPacientes{
    -fx-background-color: white;
    
    -fx-background-radius: 10px 10px 10px 10px;
    
    -fx-border-color: #C02A00;
   
    
    
}



.elementoMenuEleccion{
    -fx-min-width: 90px;
   -fx-min-height: 30px;
   -fx-max-width: 90px;
   -fx-max-height: 30px;
    
    -fx-background-color: #ffffff;
    -fx-border-color: #C02A00;
    
    -fx-background-radius: 1;
    
    -fx-border-radius: 1;
    -fx-background-insets: 1,2,3;
    
    -fx-border-width: 0 0 2 0;
    
  -fx-effect: innershadow(one-pass-box, rgba(255, 179, 156, 0.5), 5, 0, 1, -5);
    
}

.labelLado{
    -fx-text-fill:  #C02A00;
    
     
    /*-fx-font-size: 14px; */
    
    
}

.elementoMenuEleccion:hover{
    
    -fx-effect: innershadow(one-pass-box, rgba(255, 179, 156, 0.5), 10, 0, 5, -8);
    -fx-text-fill: #C02A00;

}

.botonBuscarGrande{
     -fx-min-width: 40px;
   -fx-min-height: 25px;
   -fx-max-width: 80px;
   -fx-max-height: 25px;
      
     -fx-font-family: "Sawasdee";
     -fx-font-style: BoldOblique;
     
     
}

.botonBuscarGrande .label{
    -fx-font-size: 16px;
    -fx-content-display: center;
    -fx-alignment: center;
     
     
}

.botonBuscarChico{
   -fx-min-width: 25px;
   -fx-min-height: 25px;
   -fx-max-width: 25px;
   -fx-max-height: 25px;
   
   
}

.botonBuscarChico .image-view{
   -fx-min-width: 5px;
   -fx-min-height: 5px;
   -fx-max-width: 5px;
   -fx-max-height: 5px;
   -fx-pref-height: 5px;
   -fx-pref-width: 5px;
   
}

.botonBuscarChico .label{
   -fx-font-size: 15px;
   -fx-content-display: center;
   -fx-alignment: center;
}


.botonBuscar{
    
    -fx-border-radius: 1;
    -fx-background-radius: 1;
    -fx-background-insets: 1,2,3;
   
    -fx-background-color: rgba(255, 179, 156);
    -fx-border-color: rgba(224, 111, 78);
    -fx-text-fill: #C02A00;
    -fx-content-display: center;
   -fx-alignment: center;
   
     
      
}



.botonBuscar:hover{ 
    /*-fx-effect: innershadow(one-pass-box, rgba(255, 179, 156), 30, 0, 0, 5);
    -fx-text-fill: #C02A00;*/
    
    -fx-effect: innershadow(one-pass-box, rgba(192, 42, 0, 0.5), 25, 0, 0, 0);
    -fx-text-fill: #C02A00;
    
   
    
}




.imgMenu{
    -fx-border-radius: 80;
    -fx-border-color: #ff6337;
    
}

.paneNombreUsuario{
    -fx-background-radius: 10 10 10 10;
    -fx-background-color: #FF6638;
    -fx-border-color: #C02A00;
    -fx-border-radius: 10 10 10 10;
    -fx-border-width: 3;
}


.elementoMenuEleccionInvertCuadrado{
    -fx-border-color: #C02A00;
    -fx-background-color: #FF6638;
    -fx-background-radius: 0 50 0 0;
    -fx-border-radius: 0 50 0 0;
    -fx-border-width: 3 3 3 3;
    -fx-effect: innershadow( one-pass-box , #C02A00 , 50 , 0 , 0 , 10 );
}

.text-field{
    
}

.cajas{
    -fx-effect: innershadow( one-pass-box , rgba(224, 111, 78, 0.5) , 5 , 0 , 0 , -4);
    -fx-background-color: #FFFFFF;
    -fx-border-color: #ffffff #ffffff rgba(224, 111, 78) #ffffff;
    -fx-border-radius: 0 0 1 1;
    -fx-background-radius: 0 0 1 1;
    -fx-border-width: 0px 0px 1px 0px;
    
  
    
    
    
}

.cajasChicas{
     -fx-min-width: 400px;
   -fx-min-height: 25px;
   -fx-max-width: 400px;
   -fx-max-height: 25px;
   -fx-pref-height: 25px;
   -fx-pref-width: 400px;
}

.cajasArea{
     -fx-effect: innershadow( one-pass-box , rgba(224, 111, 78, 0.5) , 5 , 0 , 0 , -4);
    -fx-background-color: #FFFFFF;
    -fx-border-color: #ffffff #ffffff rgba(224, 111, 78) #ffffff;
    -fx-border-radius: 0 0 1 1;
    -fx-background-radius: 0 0 1 1;
    -fx-border-width: 0px 0px 1px 0px;
     -fx-min-width: 400px;
   -fx-min-height: 85px;
   -fx-max-width: 400px;
   -fx-max-height: 85px;
   -fx-pref-height: 85px;
   -fx-pref-width: 400px;
    
    
}

.cajas .open-button .arrow {
    -fx-background-color: rgba(224, 111, 78);
    
   -fx-min-width: 8px;
   -fx-max-width: 8px;
   -fx-min-height: 10px;
   -fx-max-height: 10px;
    
    
}



.cajasRellenarDatos{
    
}

.cajasBuscar{
    -fx-min-width: 140px;
   
   -fx-max-width: 140px;
   
}



.containerPacientes{
   -fx-background-color: #ffffff;
}





.titled-pane 
{
   
-fx-text-fill: #C02A00;
}
.titled-pane:focused 
{
-fx-text-fill: #C02A00;
}
.titled-pane > .title 
{
    /*-fx-background-color: rgba(255, 179, 156);
        -fx-border-color: rgba(224, 111, 78);;*/
    
-fx-background-color: rgba(255, 179, 156);

-fx-background-insets: 0, 1, 2;
-fx-background-radius: 1 1 1 1;
 /*-fx-pref-width: 100000000;*/
 -fx-pref-height: 40;
-fx-effect: innershadow( one-pass-box , rgba(224, 111, 78) , 10 , 0 , 0 , 3 );
}

.titled-pane:focused > .title 
{
-fx-color: blue;
}

.titled-pane > .title > .arrow-button 
{
-fx-background-color: null;
-fx-background-insets: 0;
-fx-background-radius: 0;
}

.titled-pane > .title > .arrow-button .arrow 
{
-fx-background-color: white, #C02A00;
-fx-background-insets: 1 0 -1 0, 0;
-fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:collapsed > .title > .arrow-button .arrow 
{
-fx-rotate: -90;
}

.titled-pane > *.content 
{
-fx-background-color: -fx-box-border, linear-gradient(to bottom, derive(-fx-color,-02%), derive(-fx-color,65%) 12%,      derive(-fx-color,23%) 88%, derive(-fx-color,50%) 99%, -fx-box-border);
-fx-background-insets: 0, 0 1 1 1;


 }

.titled-pane:focused > .title > .arrow-button .arrow 
{
-fx-background-color: white;
}

.rectanguloMenu{
    
    -fx-background-color: white;
    
    
    -fx-background-radius: 0px 50px 100px 0px;
    
    -fx-effect: innershadow( three-pass-box , #C02A00, 1, 0 , -1, -1);
}

.cajasARellenar{
    -fx-background-color: pink;
    -fx-control-inner-background: pink;
}


.decoracionTabla {
    /*-fx-background-color: rgba(255, 179, 156);
        -fx-border-color: rgba(224, 111, 78);;*/
   -fx-background-color: #FF6638;
}

.decoracionTabla .column-header{
    -fx-background-color: rgba(255, 179, 156);
    
}

.decoracionTabla .column-header .label{
    -fx-text-fill: #C02A00;
}

.decoracionTabla .table-row-cell {
    -fx-background-color: rgba(255, 236, 231);
    
    
}

.decoracionTabla .table-row-cell:odd {
    -fx-background-color: #ffffff;
    
}

.decoracionTabla .table-row-cell:selected {
    -fx-background-color: rgba(121, 123, 117, 0.5);
}

.decoracionTabla .scroll-bar:vertical {
    -fx-background-color: rgba(255, 179, 156);
}

.decoracionTabla .scroll-bar:vertical-thumb {
    -fx-background-color: #ffffff;
}

.decoracionTabla .scroll-bar:vertical-thumb:hover {
    -fx-background-color: rgba(121, 123, 117, 0.5);
}

.decoracionTabla .scroll-bar:vertical-thumb:pressed {
    -fx-background-color: rgba(61, 62, 59, 0.5);
}


.decoracionTabla .scroll-bar:horizontal {
    -fx-background-color: rgba(255, 179, 156);
}

.decoracionTabla .scroll-bar:horizontal-thumb {
    -fx-background-color: #ffffff;
}

.decoracionTabla .scroll-bar:horizontal-thumb:hover {
    -fx-background-color: rgba(121, 123, 117, 0.5);
}

.decoracionTabla .scroll-bar:horizontal-thumb:pressed {
    -fx-background-color: rgba(61, 62, 59, 0.5);
}



.labelCuerpo{
    -fx-text-fill:  #C02A00;
    
    -fx-font-family: Sawasdee;  
    -fx-font-size: 14px; /* Cambia el tamaño de fuente */
    
    -fx-font-weight: bold; /* Cambia el grosor de la fuente (negrita) */
    
    
}

.labelTitulo{
    -fx-text-fill:  #C02A00;
    
     
    -fx-font-size: 16px; /* Cambia el tamaño de fuente */
    
    -fx-font-weight: bold; /* Cambia el grosor de la fuente (negrita) */
    
    
}




















.cajasAEsconder{
    
}

.crear{
    
}

.eliminarActualizar{
    
}


