/*
 * Empty Stylesheet file.
 */

.root{
    -fx-background-color: rgba(0, 0, 0, 0, 0.3);
    -fx-background-radius: 10;
}

.menuEleccion{
    -fx-color: transparent;
    -fx-color: #ffffff;
}

.elementoMenuEleccion{
    
    -fx-background-radius: 0 55 0 55;
    -fx-background-color: #FF6638;
    -fx-border-color: #C02A00;
    -fx-border-radius: 0 50 0 50;
    -fx-background-insets: 1,2,3;
    -fx-effect: innershadow( one-pass-box , #C02A00 , 10 , 0 , 0 , 5 );
    -fx-border-width: 3 3 3 3;

}

.elementoMenuEleccion:hover{
    
    -fx-effect: innershadow(one-pass-box, #C02A00, 30, 0, 0, 5);
    -fx-text-fill: #C02A00;

}



.botonBuscar{
     
    -fx-background-color: #FF6638;
    -fx-background-radius: 5px 5px 5px 5px;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-background-insets: 1,2,3;
    -fx-border-color: #C02A00;
    -fx-effect: dropshadow(gaussian, black, 10, 0, 0, 2);
    -fx-text-fill: white;
}



.botonBuscar:hover{ 
    -fx-effect: innershadow(one-pass-box, #C02A00, 30, 0, 0, 5);
    -fx-text-fill: #C02A00;
}




.imgMenu{
    -fx-border-radius: 80;
    -fx-border-color: #ff6337;
    
}

.paneNombreUsuario{
    -fx-background-radius: 10 10 10 10;
    -fx-background-color: #FF6638;
    -fx-border-color: #C02A00;
    -fx-border-radius: 10 10 10 10;
    -fx-border-width: 3;
}


.elementoMenuEleccionInvertCuadrado{
    -fx-border-color: #C02A00;
    -fx-background-color: #FF6638;
    -fx-background-radius: 0 50 0 0;
    -fx-border-radius: 0 50 0 0;
    -fx-border-width: 3 3 3 3;
    -fx-effect: innershadow( one-pass-box , #C02A00 , 50 , 0 , 0 , 10 );
}

.cajas{
    -fx-effect: innershadow( gaussian , rgba(240, 202, 192, 0.8) , 10 , 0 , 5 , -5 );
    -fx-background-color: #FFFFFF;
    -fx-border-color: #ffffff #ffffff #C02A00 #ffffff;
    -fx-border-radius: 0 0 0 0;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-style: solid;
}



.containerPacientes{
   -fx-background-color: #ffffff;
}



.apPacientes{
    -fx-background-color: white;
    
    -fx-background-radius: 10px 10px 10px 10px;
    
    
    
}


.titled-pane 
{
   
-fx-text-fill: white;
}
.titled-pane:focused 
{
-fx-text-fill: #C02A00;
}
.titled-pane > .title 
{
-fx-background-color: #C02A00, #FF6638;
-fx-background-insets: 0, 1, 2;
-fx-background-radius: 5 5 5 5, 5 5 5 5, 5 5 5 5;
 /*-fx-pref-width: 100000000;*/
 -fx-pref-height: 40;
-fx-effect: innershadow( one-pass-box , #C02A00 , 10 , 0 , 0 , 3 );
}

.titled-pane:focused > .title 
{
-fx-color: blue;
}

.titled-pane > .title > .arrow-button 
{
-fx-background-color: null;
-fx-background-insets: 0;
-fx-background-radius: 0;
}

.titled-pane > .title > .arrow-button .arrow 
{
-fx-background-color: white, #C02A00;
-fx-background-insets: 1 0 -1 0, 0;
-fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:collapsed > .title > .arrow-button .arrow 
{
-fx-rotate: -90;
}

.titled-pane > *.content 
{
-fx-background-color: -fx-box-border, linear-gradient(to bottom, derive(-fx-color,-02%), derive(-fx-color,65%) 12%,      derive(-fx-color,23%) 88%, derive(-fx-color,50%) 99%, -fx-box-border);
-fx-background-insets: 0, 0 1 1 1;


 }

.titled-pane:focused > .title > .arrow-button .arrow 
{
-fx-background-color: white;
}

.rectanguloMenu{
    
    -fx-background-color: white;
    
    
    -fx-background-radius: 0px 50px 100px 0px;
    
    -fx-effect: innershadow( three-pass-box , #C02A00, 1, 0 , -1, -1);
}

.cajasARellenar{
    -fx-background-color: pink;
    -fx-control-inner-background: pink;
}

.cajasAEsconder{
    
}
